@model MesInfosVM

<table class="table table-bordered table-striped table-hover">
    <tbody>
        <tr>
            <td>Nom</td>
            <td>@Model.Nom</td>
        </tr>
        <tr>
            <td>Âge</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Ville de résidence</td>
            <td>@Model.VilleResidence</td>
        </tr>
    </tbody>
</table>


