@model Exercices_Formulaire_Web.ViewModels.FormulaireDepartementVM

@{
    ViewData["Title"] = "Supprimer le département";
}

<h1>Supprimer</h1>

<h3>Êtes-vous certain de vouloir supprimer ce département?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
    </form>
</div>
