<div class="image-upload-item mb-2">
    <div class="input-group">
        <input type="file" name="Images" class="form-control" accept="image/*" />
        <button type="button" class="btn btn-outline-danger btn-sm remove-image-btn">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>
