@model Exercices_Formulaire_Web.ViewModels.EmployeCreateVM

@{
    ViewData["Title"] = "Créer un employé";
}

<h1>Créer un employé</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateEmbauche" class="control-label">Date d'embauche</label>
                <input asp-for="DateEmbauche" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="SalaireAnnuel" class="control-label">Salaire annuel</label>
                <input asp-for="SalaireAnnuel" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Statut" class="form-label"></label>
                <select asp-for="Statut" asp-items="@Html.GetEnumSelectList<Exercices_Formulaire_Web.Models.StatutEmploye>()" class="form-select">
                    <option selected="selected" value="">Choisissez un statut</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="TypeRemuneration" class="form-label"></label>
                @Html.DropDownList("TypeRemuneration", Html.GetEnumSelectList<Exercices_Formulaire_Web.Models.TypeRemuneration>(), new { @class = "form-select" })
            </div>
            <div class="form-group">
                <label asp-for="PaysId" class="control-label">Pays d'origine</label>
                <select asp-for="PaysId" asp-items="Model.ListePays" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartementId" class="control-label">Département de travail</label>
                <select asp-for="DepartementId" asp-items="Model.ListeDepartements" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>
